body,p,div,a,span,h1,h2,h3,h4{

    font-family: 'Helvetica Neue' ,helvetica,arial,'lucida grande',sans-serif;
}
body{
    background-size: 100% auto;
    background-repeat:no-repeat;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

a{
  color: #009933;
 /* padding: 5px 10px;*/
}

a:hover{
  color: rgb(255,255, 255);
  background-color: #009933;
  padding: 5px 10px;
}

.container{
    position: relative;
    top: 50px;
    text-align: center;
    margin: 0 auto; 
}

.row{
    margin-left:-10px; 
}


.header-strip{
    background:#5e5e5e;
    height:10px;
    display: none;
}
.header-back{
    height:85px;
   
}
.header-text{
    background:transparent;
    color: #cccccc;
    font-size:13px;
    text-align:center;
}
.header-text strong{
    color:#494d4e;
    font-size:14px;
    text-align: center;
    margin: 0 auto;
}

.logo{
    background:transparent url(../images/2016-aip/logo.png) no-repeat right top;
    background-size: 279px 88px;
    display: inline-block;
    cursor:pointer;
    height: 110px;
    position:relative;
    background-position: center;
    width: 300px;
    float: none;
}

.header-logo{
   width: 940px;
   position: relative;
   text-align: center;
   margin: 0 auto;
}

.no-bkgd,
.no-bkgd:hover{
   background: transparent;
   padding: 0px;
}

.content-section{
    text-align:center;
    padding:10px 0px 0px 50px;
    margin: 0px 42px 0px;
    width:768px;
    color:#494d4e;
    line-height: 24px;
    font-size: 18px;
    background-color: #eee; 
}
.content-section form.well{
    text-align:left;
}

.form-horizontal .form-group{
    margin-left: 0px;
    margin-right: 0px;
}


.directions{
    width: 100%;
    margin-top: 100px;
    padding: 50px 10px 0px 0px;
    margin-left:0px;
}

.login-header{
    background:#e86d1f;
    color:#fff;
    padding:5px;

     -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;

    -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;

    margin-top:10px;
}

.forgot-password{
    margin-top: 15px;
}

.form-actions{
    padding:0;
}
.form-horizontal .control-label{
    width:80px;
    margin-right: 5px;
    float: left;
    position: relative;
    left: 14px;
    text-align: right;
}
.form-horizontal .form-actions{
    padding-bottom:0;
    margin: 0 auto;
}

.identity-box{
   width: 100%;
   margin: 0 auto;
   position:relative;
}

h1, h2, h3, h4, h5, h6{
    color: #494d3e;
}
h1{
    margin-top:20px;
    font-weight:bolder;
    font-size:42px;
    line-height: 44px;
    text-transform: uppercase;
}

h3{
    margin-bottom: 10px;
    font-weight:bolder;
    font-size:42px;
    line-height: 44px;
    text-transform: uppercase;
}
.different-login-container{
    background:#eee;;
    padding:10px;
   -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
   -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
.main-login-container{
/* background:transparent url(../images/container-back.png) repeat left top;*/
   /* background-color: #eee;*/
    border: 2px solid #eee;
    max-width: 400px;
    padding: 30px;
    margin: 10px auto 0;
}
.vertical-slitter{
    border-right:solid 1px #fff;
}
.form-actions{
    border-top:none;
    background:transparent;
}
.btn-primary.active{
  color:rgb(255, 255, 255);
  background: #009933;
}

.btn-primary{
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border:1px solid #009933;	  
  background: #009933; /* Old browsers */
padding:5px 10px;
border-radius: 0px;
background-image:#009933;

}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color:#009933;
  border-radius: 0px;
  background: transparent; /* Old browsers */
  border:1px solid #009933;
  background-image: #009933;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #009933;
 
}

.btn-primary-deny {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);	  
background: #C94135; /* Old browsers */
background: -moz-linear-gradient(top, #C94135 0%, #4E0505 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C94135), color-stop(100%,#4E0505)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #C94135 0%,#4E0505 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #C94135 0%,#4E0505 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #C94135 0%,#4E0505 100%); /* IE10+ */
background: linear-gradient(to bottom, #C94135 0%,#4E0505 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C94135', endColorstr='#4E0505',GradientType=0 ); /* IE6-9 */
padding:5px 10px;

}

.btn-primary-deny:hover,
.btn-primary-deny:focus,
.btn-primary-deny:active,
.btn-primary-deny.active,
.btn-primary-deny.disabled,
.btn-primary-deny[disabled] {
  color: #ffffff;
 background: #C94135; /* Old browsers */
background: -moz-linear-gradient(top, #C94135 0%, #4E0505 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C94135), color-stop(100%,#4E0505)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #C94135 0%,#4E0505 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #C94135 0%,#4E0505 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #C94135 0%,#4E0505 100%); /* IE10+ */
background: linear-gradient(to bottom, #C94135 0%,#4E0505 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C94135', endColorstr='#4E0505',GradientType=0 ); /* IE6-9 */

}

.btn-primary-deny:active,
.btn-primary-deny.active {
  background-color: #CA1909 \9;
}

.marL30{
	margin-left: 30% !important;
}

.marL32 {
	margin-left: 32% !important;
}

h2{
   font-weight:bold;
   font-family: 'Helvetica Neue', sans-serif;
   text-transform: uppercase;
   font-size: 24px;
   line-spacing: 30px;
   
}
.different-login-container a.main-link{
    display:block;
    background:transparent url(../images/icon-default.png) no-repeat left top;
    width:75px;
    height:76px;
    float:left;
    margin-right:10px;
    padding-left:74px;
}
#claimed_id{
   background:#fff url(../images/openid-input.gif) no-repeat left 4px;
   padding-left:20px;
}
.slidePopper{
position:absolute;
margin-top:70px;
padding:10px;
background:#fff;
border:solid 1px #ccc;
border-radius:5px;
z-index:6;
}
.slidePopper-cancel{
cursor:pointer;
}
.overlay{
background:#ccc;
opacity:0.5;
width:500px;
height:500px;
position:absolute;
top:0;
left:0;
z-index:5;
}
.go-btn{
	margin-top:-8px;
}

.log-header{
margin: 0 auto;
text-align:center;
}

@media (min-width: 1200px){
   .logo{background-position: center;}
   
}

